.button{
    display: inline-block;
    background-color: #74B9FF;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear ;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.08);
}