.main-section{
    background-color: #74B9FF;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #AF2D2D;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdFirst{
    border-color: #74B9FF;
}

.main-section.-bgSecond{
    background-color: #AF2D2D;
}

.main-section.-bdBlack{
    border-color: #000;
}

.main-section.-bgThird{
    background-color: #3A4042;
}

.main-section.-bdSecond{
    border-color: #000;
    
}